In [1]:
import talib 
import numpy as np
import pandas as pd 
import indicators as ind

In [2]:
tker = 'TSLA'
day = 200
data = ind.load_stock(tker,day)
data.to_csv('tsla.csv',index=True)
data

,date,open,high,low,close,volume,adjClose
0,2020-02-19,184.699997,188.955994,180.203995,183.483994,127115000.0,183.483994
1,2020-02-20,182.389999,182.399994,171.988007,179.882004,88174500.0,179.882004
2,2020-02-21,181.395996,182.612000,176.089996,180.199997,71574000.0,180.199997
3,2020-02-24,167.800003,172.699997,164.440002,166.757996,75961000.0,166.757996
4,2020-02-25,169.800003,171.320007,157.399994,159.981995,86452500.0,159.981995
...,...,...,...,...,...,...,...
195,2020-11-24,540.400024,559.989990,526.200012,555.380005,53648500.0,555.380005
196,2020-11-25,550.059998,574.000000,545.369995,574.000000,48930200.0,574.000000
197,2020-11-27,581.159973,598.780029,578.450012,585.760010,37561100.0,585.760010
198,2020-11-30,602.210022,607.799988,554.510010,567.599976,62502300.0,567.599976
199,2020-12-01,597.590027,597.849976,572.049988,584.760010,38689894.0,584.760010

In [28]:
data['MA_30'] = talib.MA(data['close'],timeperiod=30)
data

,date,open,high,low,close,volume,adjClose,MA_30
0,2020-02-13,148.367996,163.600006,147.000000,160.800003,131446500.0,160.800003,NaN
1,2020-02-14,157.444000,162.593994,157.100006,160.005997,78468500.0,160.005997,NaN
2,2020-02-18,168.320007,172.000000,166.472000,171.679993,81908500.0,171.679993,NaN
3,2020-02-19,184.699997,188.955994,180.203995,183.483994,127115000.0,183.483994,NaN
4,2020-02-20,182.389999,182.399994,171.988007,179.882004,88174500.0,179.882004,NaN
...,...,...,...,...,...,...,...,...
195,2020-11-19,492.000000,508.609985,487.570007,499.269989,62475300.0,499.269989,428.751000
196,2020-11-20,497.989990,502.500000,489.059998,489.609985,32807300.0,489.609985,430.604666
197,2020-11-23,503.500000,526.000000,501.790009,521.849976,50260300.0,521.849976,433.256332
198,2020-11-24,540.400024,559.989990,526.200012,555.380005,53648500.0,555.380005,436.880666
199,2020-11-25,550.060000,574.000000,545.370000,574.000000,48930162.0,574.000000,440.637333

In [29]:
print(talib.get_function_groups())

{'Cycle Indicators': ['HT_DCPERIOD', 'HT_DCPHASE', 'HT_PHASOR', 'HT_SINE', 'HT_TRENDMODE'], 'Math Operators': ['ADD', 'DIV', 'MAX', 'MAXINDEX', 'MIN', 'MININDEX', 'MINMAX', 'MINMAXINDEX', 'MULT', 'SUB', 'SUM'], 'Math Transform': ['ACOS', 'ASIN', 'ATAN', 'CEIL', 'COS', 'COSH', 'EXP', 'FLOOR', 'LN', 'LOG10', 'SIN', 'SINH', 'SQRT', 'TAN', 'TANH'], 'Momentum Indicators': ['ADX', 'ADXR', 'APO', 'AROON', 'AROONOSC', 'BOP', 'CCI', 'CMO', 'DX', 'MACD', 'MACDEXT', 'MACDFIX', 'MFI', 'MINUS_DI', 'MINUS_DM', 'MOM', 'PLUS_DI', 'PLUS_DM', 'PPO', 'ROC', 'ROCP', 'ROCR', 'ROCR100', 'RSI', 'STOCH', 'STOCHF', 'STOCHRSI', 'TRIX', 'ULTOSC', 'WILLR'], 'Overlap Studies': ['BBANDS', 'DEMA', 'EMA', 'HT_TRENDLINE', 'KAMA', 'MA', 'MAMA', 'MAVP', 'MIDPOINT', 'MIDPRICE', 'SAR', 'SAREXT', 'SMA', 'T3', 'TEMA', 'TRIMA', 'WMA'], 'Pattern Recognition': ['CDL2CROWS', 'CDL3BLACKCROWS', 'CDL3INSIDE', 'CDL3LINESTRIKE', 'CDL3OUTSIDE', 'CDL3STARSINSOUTH', 'CDL3WHITESOLDIERS', 'CDLABANDONEDBABY', 'CDLADVANCEBLOCK', 'CDLBELTHOLD', 'CDLBREAKAWAY', 'CDLCLOSINGMARUBOZU', 'CDLCONCEALBABYSWALL', 'CDLCOUNTERATTACK', 'CDLDARKCLOUDCOVER', 'CDLDOJI', 'CDLDOJISTAR', 'CDLDRAGONFLYDOJI', 'CDLENGULFING', 'CDLEVENINGDOJISTAR', 'CDLEVENINGSTAR', 'CDLGAPSIDESIDEWHITE', 'CDLGRAVESTONEDOJI', 'CDLHAMMER', 'CDLHANGINGMAN', 'CDLHARAMI', 'CDLHARAMICROSS', 'CDLHIGHWAVE', 'CDLHIKKAKE', 'CDLHIKKAKEMOD', 'CDLHOMINGPIGEON', 'CDLIDENTICAL3CROWS', 'CDLINNECK', 'CDLINVERTEDHAMMER', 'CDLKICKING', 'CDLKICKINGBYLENGTH', 'CDLLADDERBOTTOM', 'CDLLONGLEGGEDDOJI', 'CDLLONGLINE', 'CDLMARUBOZU', 'CDLMATCHINGLOW', 'CDLMATHOLD', 'CDLMORNINGDOJISTAR', 'CDLMORNINGSTAR', 'CDLONNECK', 'CDLPIERCING', 'CDLRICKSHAWMAN', 'CDLRISEFALL3METHODS', 'CDLSEPARATINGLINES', 'CDLSHOOTINGSTAR', 'CDLSHORTLINE', 'CDLSPINNINGTOP', 'CDLSTALLEDPATTERN', 'CDLSTICKSANDWICH', 'CDLTAKURI', 'CDLTASUKIGAP', 'CDLTHRUSTING', 'CDLTRISTAR', 'CDLUNIQUE3RIVER', 'CDLUPSIDEGAP2CROWS', 'CDLXSIDEGAP3METHODS'], 'Price Transform': ['AVGPRICE', 'MEDPRICE', 'TYPPRICE', 'WCLPRICE'], 'Statistic Functions': ['BETA', 'CORREL', 'LINEARREG', 'LINEARREG_ANGLE', 'LINEARREG_INTERCEPT', 'LINEARREG_SLOPE', 'STDDEV', 'TSF', 'VAR'], 'Volatility Indicators': ['ATR', 'NATR', 'TRANGE'], 'Volume Indicators': ['AD', 'ADOSC', 'OBV']}

In [30]:
print(talib.get_functions())

['HT_DCPERIOD', 'HT_DCPHASE', 'HT_PHASOR', 'HT_SINE', 'HT_TRENDMODE', 'ADD', 'DIV', 'MAX', 'MAXINDEX', 'MIN', 'MININDEX', 'MINMAX', 'MINMAXINDEX', 'MULT', 'SUB', 'SUM', 'ACOS', 'ASIN', 'ATAN', 'CEIL', 'COS', 'COSH', 'EXP', 'FLOOR', 'LN', 'LOG10', 'SIN', 'SINH', 'SQRT', 'TAN', 'TANH', 'ADX', 'ADXR', 'APO', 'AROON', 'AROONOSC', 'BOP', 'CCI', 'CMO', 'DX', 'MACD', 'MACDEXT', 'MACDFIX', 'MFI', 'MINUS_DI', 'MINUS_DM', 'MOM', 'PLUS_DI', 'PLUS_DM', 'PPO', 'ROC', 'ROCP', 'ROCR', 'ROCR100', 'RSI', 'STOCH', 'STOCHF', 'STOCHRSI', 'TRIX', 'ULTOSC', 'WILLR', 'BBANDS', 'DEMA', 'EMA', 'HT_TRENDLINE', 'KAMA', 'MA', 'MAMA', 'MAVP', 'MIDPOINT', 'MIDPRICE', 'SAR', 'SAREXT', 'SMA', 'T3', 'TEMA', 'TRIMA', 'WMA', 'CDL2CROWS', 'CDL3BLACKCROWS', 'CDL3INSIDE', 'CDL3LINESTRIKE', 'CDL3OUTSIDE', 'CDL3STARSINSOUTH', 'CDL3WHITESOLDIERS', 'CDLABANDONEDBABY', 'CDLADVANCEBLOCK', 'CDLBELTHOLD', 'CDLBREAKAWAY', 'CDLCLOSINGMARUBOZU', 'CDLCONCEALBABYSWALL', 'CDLCOUNTERATTACK', 'CDLDARKCLOUDCOVER', 'CDLDOJI', 'CDLDOJISTAR', 'CDLDRAGONFLYDOJI', 'CDLENGULFING', 'CDLEVENINGDOJISTAR', 'CDLEVENINGSTAR', 'CDLGAPSIDESIDEWHITE', 'CDLGRAVESTONEDOJI', 'CDLHAMMER', 'CDLHANGINGMAN', 'CDLHARAMI', 'CDLHARAMICROSS', 'CDLHIGHWAVE', 'CDLHIKKAKE', 'CDLHIKKAKEMOD', 'CDLHOMINGPIGEON', 'CDLIDENTICAL3CROWS', 'CDLINNECK', 'CDLINVERTEDHAMMER', 'CDLKICKING', 'CDLKICKINGBYLENGTH', 'CDLLADDERBOTTOM', 'CDLLONGLEGGEDDOJI', 'CDLLONGLINE', 'CDLMARUBOZU', 'CDLMATCHINGLOW', 'CDLMATHOLD', 'CDLMORNINGDOJISTAR', 'CDLMORNINGSTAR', 'CDLONNECK', 'CDLPIERCING', 'CDLRICKSHAWMAN', 'CDLRISEFALL3METHODS', 'CDLSEPARATINGLINES', 'CDLSHOOTINGSTAR', 'CDLSHORTLINE', 'CDLSPINNINGTOP', 'CDLSTALLEDPATTERN', 'CDLSTICKSANDWICH', 'CDLTAKURI', 'CDLTASUKIGAP', 'CDLTHRUSTING', 'CDLTRISTAR', 'CDLUNIQUE3RIVER', 'CDLUPSIDEGAP2CROWS', 'CDLXSIDEGAP3METHODS', 'AVGPRICE', 'MEDPRICE', 'TYPPRICE', 'WCLPRICE', 'BETA', 'CORREL', 'LINEARREG', 'LINEARREG_ANGLE', 'LINEARREG_INTERCEPT', 'LINEARREG_SLOPE', 'STDDEV', 'TSF', 'VAR', 'ATR', 'NATR', 'TRANGE', 'AD', 'ADOSC', 'OBV']

In [31]:
macd,macdsignal,macdhist = talib.MACD(data['close'],fastperiod=12, slowperiod=26,signalperiod=9)
macd

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
195    10.432543
196    13.581668
197    18.466005
198    24.757086
199    30.889220
Length: 200, dtype: float64

In [32]:
data['rsi'] = talib.RSI(data['close'],timeperiod=14)
data['rsi']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
195    69.822267
196    66.186944
197    71.517055
198    75.791197
199    77.784824
Name: rsi, Length: 200, dtype: float64

In [37]:
integer = talib.CDL3INSIDE(data['open'],data['high'],data['low'],data['close'])
integer.tail(50)

150      0
151      0
152      0
153      0
154      0
155      0
156      0
157      0
158      0
159      0
160      0
161      0
162      0
163      0
164      0
165      0
166      0
167    100
168      0
169      0
170      0
171      0
172      0
173      0
174      0
175      0
176      0
177      0
178      0
179      0
180      0
181      0
182      0
183    100
184      0
185      0
186      0
187   -100
188      0
189      0
190      0
191      0
192      0
193      0
194      0
195      0
196      0
197      0
198      0
199      0
dtype: int32